body{
    color: #333;
    font: 1.2rem;
    line-height: 1.6em;
    margin:0;
}

h1 {
    font-size: 2rem;
    line-height: 1.3em;
}

p{
    margin: 1.6em;
}

.container{
    width: 85%;
    max-width: 850px;
    margin:0 auto;
}

.header{
    background: #333;
    color: white;
    padding: 2rem;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}

.header a{
    color:white;
    text-decoration: none;
}
.welcome-nav-cotainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.welcome{
    letter-spacing: 8px;
    font-size: 1.8em;
}

.menu-icon{
    display:none ;
}

.container-section1{
    background: #ECE7E7;
    text-align: center;
    height: 100vh;
    padding-top: 6rem;
    font-style: italic;
}

.container-section1 img {
    width: 250px;
}

.container-section1 h1{
    font: bold;
    font-size: 50px;
    margin: 0;
}

.container-section1 h3{
    font: normal 36px 'Cookie', cursive;
    margin: 0;
    text-align: center;
}

.navigation ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation ul li{
    display: inline-block;
}

.navigation ul li a{
    display: block;
    padding: 0.5rem 1rem;
    transition: all 0.3s linear;
    border-radius: 8px;
}

.navigation ul li a:hover{
    background: #333;
}

.about{
    background-color: #ECE7E7;
    color: black;
    height: 100vh;
}

.about-text{
    display: flex;
    flex-direction: column;
}

.about-data{
    display: flex;
    justify-content: space-around;
    max-width: 1000px;
}

.about-datam{
    flex-direction: column;
    font-size: 1.3em;
    padding: 1em;
}

.about-button{
    flex-direction: column;
    margin: 2.5em;
}

.button{
    background-color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
    color: #ECE7E7;
    font-size: 1.15em;
    width: 220px;
    height: 55px;
}

.button:hover{
    background-color: #d2a937;
    border-color: #e0ac1c;
    color: #fff
}

.contact-button{
    background-color: rgb(65, 65, 65);
    border-color: rgb(65, 65, 65);
    color: #ECE7E7;
}

.contact-button:hover{
    background-color: #d2a937;
    border-color: #e0ac1c;
    color: #fff
}

footer{
    width: 100%;
    background: #202020;
    color: white;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.column1{
    max-width: 400px;
}

.column1 h1{
    font-size: 22px;
}

.column1 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.column2{
    max-width: 400px;
}

.column2 h1{
    font-size: 22px;
    margin-right: 15px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #c7c7c7;
    font-size: 15px;
}

.column3{
    max-width: 400px;
}

.column3 h1{
    font-size: 22px;
}

.column3 p{
    font-size: 14px;
    color: #c7c7c7;
    margin-top: 20px;
}

.container-footer{
    background: #c2c2c2;
    text-align: center;
}

@media only screen and (max-width: 767px){

    .menu-icon{
        display:block ;
        cursor: pointer;
        padding: 0.5rem 1rem;
    }

    .navigation{
        width: 100%;
        margin-top: 1rem;
    }

    .navigation ul{
        display: none;
    }

    .navigation ul.show{
        display: block;
    }

    .navigation ul li{
        display: block;
    }
    
    .navigation ul li a{
        display: block;
        padding: 0.5rem 1rem;
        transition: all 0.3s linear;
        border-radius: 8px;
    }
    
    .navigation ul li a:hover{
        background: #333;
    }

    .container-section1{
        background: #ECE7E7;
        text-align: center;
        height: 70vh;
        padding-top: 6rem;
        font-style: italic;
    }
    
    .container-section1 h1{
        font: bold;
        font-size: 40px;
        margin: 0;
    }
    
    .container-section1 h3{
        font: normal 26px 'Cookie', cursive;
        margin: 0;
    }
    
    .container-section1 img{
        width: 150px;  
    }
.about{
        background-color: #ECE7E7;
        color: rgb(65, 65, 65);
        height: 100vh;
    }
    
    .about-text{
        display: flex;
        flex-direction: column;
    }
    
    
    .about-data{
        display: flex;
        flex-direction: column;
        max-width: 550px;
    }
    
    .about-datam{
        font-size: 1.10em;
        padding: 1em;
    }
    
    .about-button{
        flex-direction: column;
        margin: 1em;
    }
    
    .button{
        background-color: rgb(65, 65, 65);
        border-color: rgb(65, 65, 65);
        color: #ECE7E7;
        font-size: 1.15em;
        width: 220px;
        height: 55px;
    }
    
    .button:hover{
        background-color: #d2a937;
        border-color: #e0ac1c;
        color: #fff
    }
}

/*Section Bread*/

#bread-section, #contact-section, #about-section {
    padding: 6rem 0;
}


#bread-section .bread-title-box{
    margin: 0 0 50px;
}

#bread-section .bread-item {
    position: relative;
    display: block;
    max-width: 25rem;
    height: 200px;
    margin-bottom: 30px;
    border-radius: 2rem;
    overflow: hidden;
}
#bread-section .bread-item .bread-item-box {
    position: absolute;
    top: 0;
    left: 0;
    transition: all .2s ease-out;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.91);
}

#bread-section .bread-item .bread-item-box h3, .modal-body h2{
    font-family: 'Cookie';
}

#bread-section .bread-item .bread-item-box:hover {
    opacity: 1;
}

#bread-section .bread-img {
    width: 100%;
    height: 100% !important;
    object-fit: cover;
}

.color-white{
    color: white !important;
}
.text-center {
    text-align: center!important;
}

.closeButton1 {
    padding: 20px;
}

div.closeButton1 button {
    font-size: xx-large;
}

div.closeButton2 button{
    font-family: 'Cookie';
}

div.closeButton2 button:hover, div.closeButton2 button:visited, div.closeButton2 button:active {
    color: #fff;
    background-color: #d2a937;
    border-color: #e0ac1c;
}
div.closeButton2 button span{
    margin: 5px;
}

div.modal-body {
    text-align: center;
}
.modal-body .container {
    margin: auto;
    max-width: 70%;
}

div.modal-body img {
    border-radius: .7rem !important;
    width: 100%;
    max-height: 100%;
    object-fit: cover;
}

div.modal-body .modal-title {
    font-family: 'Cookie';
}

/* section banner*/
.slider-1{
    background: #ECE7E7;
    text-align: center;
    height: 70vh;
    padding-top: 12rem;
    font-style: italic;
}

.slider-1 h1{
    font: bold;
    font-size: 40px;
    margin: 0;
}

.slider-1 h3{
    font: normal 26px 'Cookie', cursive;
    margin: 0;
}

img{
    width: 200px;  
}

/*section about*/